/*
:root {
  --bs-primary: #3FA34D;      /*Green (Primary buttons, etc.) 
  --bs-secondary: #4DA8DA;    /* Sky Blue 
  --bs-warning: #F4C430;      /* Yellow accent 
  --bs-dark: #2B2D42;
  --bs-light: #F8F9FA;
  --bs-border-color: #CED4DA;
}
*/